# Common Python and IDE artifacts
.env
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.idea/

# Common virtual environment and Jupyter notebook stuff
.ipynb_checkpoints/
.venv/

# Application logs
**/logs/
